# WHAT MAKES A CULT CLASSIC?
Warner bros production and movie studio is looking to expand it's portfolio and start producing cult movies, they are interested in finding out what makes a cult classic.
## Business understanding.
here, we'll be talking about cult movies, what the people in cult movie productions do and all that, soon as the intrnet comes back.

- stakeholders
- success criteria
- project objectives
- etc

## Data understanding.
### Data source.
Under the file path `Data/`, we have a cult movies dataset compiled from different movie websites by the use of Artificial Intelligence (AI). The dataset, `cult_classics_dataset.csv`, contains data from the Internet Movie Database (IMDB) giving us access to movie titles, their genres, ratings, revenues and many more from the year 1994 to 2014.

### Why is the dataset suitable for this project?
In the project overview, we mention that this project seeks to understand what makes a cult film/show a classic. This dataset contains information on cult films that will help us understand, through our analysis, what really makes a cult classic through different film aspects.

- Analyzing a movies performance in the box office helps us 

-

### Exploring the dataset for understanding.
#### Importing dependancies and loading the dataset.
To work smoothly and efficiently, we are using python libraries for our analysis and other things.

We are using the pandas' `read_csv()` method to efficiently load the dataset into the notebook.

In [ ]:
# Importing all the dependencies needed for this project.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the dataset using pandas
cult_classics = pd.read_csv('Data/cult_classics_dataset.csv', sep= ',')

#### Qualitative Analysis.
In this part we are exploring the dataset, trying to understand its qualities and its structure. We are also looking to flag any data quality issues that may impact our analysis negatively. We will be looking at the first few rows and also at the dataset's summary.

In [ ]:
# To get a preview of what we are working with, we are using the .head() method.
cult_classics.head()

,Title,Genres,Runtime,Release Year,IMDB Rating,Metascore,Votes,Revenue (Millions),Keywords
0,The Matrix,"Action, Sci-Fi",136,1999,8.7,73,1900000,463.5,"virtual reality, dystopia"
1,Donnie Darko,"Drama, Mystery",113,2001,8.0,88,800000,7.5,"time travel, alternate universe"
2,Pulp Fiction,"Crime, Drama",154,1994,8.9,94,1900000,213.9,"nonlinear, hitman"
3,Avatar,"Action, Adventure",162,2009,7.8,83,1200000,2787.9,"alien, sci-fi"
4,Into the Wild,"Adventure, Biography",148,2007,8.1,73,600000,56.3,"nature, escape"

From the first preview, we see that the data has 9 columns out of which 3 columns contain values stored as objcts and the rest as numerical datasets. However, we cannot be certain. In the next code we are using the .info() method to give us a consice summary of the data.

In [ ]:
# This will help us understand the structure of the data
# How many rows, columns, non null counts, datatypes etc. does the dataset have?

cult_classics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               10 non-null     object
 1   Genres              10 non-null     object
 2   Runtime             10 non-null     int64
 3   Release Year        10 non-null     int64
 4   IMDB Rating         10 non-null     float64
 5   Metascore           10 non-null     int64
 6   Votes               10 non-null     int64
 7   Revenue (Millions)  10 non-null     float64
 8   Keywords            10 non-null     object
dtypes: float64(2), int64(4), object(3)
memory usage: 848.0+ bytes

The dataset contains information stored in 9 columns and 10 rows. The values are stored as objects, floats and integers. The dataset is also mostly clean with all columns having the same non null counts as the number of rows stated.

#### Quantitative Analysis.
Here we will be looking at the quantitative summary of the dataset including the numerical data's measures of central tendencies, measures of spread and some aggregate functions.

In [4]:
#We are using the .describe() method to obtain the statistics summary of the data.
# This method generates descriptive statistics of the data.

cult_classics.describe()

,Runtime,Release Year,IMDB Rating,Metascore,Votes,Revenue (Millions)
count,10.000000,10.000000,10.000000,10.000000,1.000000e+01,10.00000
mean,129.200000,2004.300000,7.650000,72.800000,9.880000e+05,382.85000
std,22.552654,6.447222,1.542905,24.733243,6.670799e+05,856.06742
min,96.000000,1994.000000,3.600000,9.000000,8.000000e+04,1.80000
25%,114.500000,1999.500000,7.725000,67.750000,5.250000e+05,46.42500
50%,131.000000,2003.500000,8.000000,78.000000,7.000000e+05,78.60000
75%,145.750000,2008.500000,8.550000,88.000000,1.650000e+06,186.22500
max,162.000000,2014.000000,8.900000,94.000000,1.900000e+06,2787.90000